body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.login-container {
  background: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 320px;
  text-align: center;
  border: 1px solid #000000;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 95%;
  padding: 10px;
  background-color: #0078ff;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #005fce;
}

.error {
  color: red;
  font-size: 14px;
}
.logo {
    width: 25%;
    max-width: 280px;  /* límite superior */
    min-width: 200px;  /* límite inferior */
    margin-bottom: 1.5rem;
}